//colors
$primary-light: #426d49;
$primary-dark: #4f612a;
$primary-light: #28b485;
$secondary-1:#e2b5a8;
$secondary-2:#bbb4eb;
$secondary-3:#B398B0;
$secondary-4:#c4ac6c;
$secondary-1-dark:#876c64;
$secondary-2-dark:#707f8d;
$secondary-3-dark:#80657d;
$secondary-light:#ffb900;
$tertiary-light:#2998ff;
$white:#fff;
$black:#000;
$brown:#8c6239;
$grey-dark:#777;
$grey-dark-2:#999;
$grey-dark-3:#333;
$grey-light-1:#f2f2f2;
$grey-light-2:#eee;