.heading-primary {
    color: white;
    margin-bottom: 2.5rem;
    font-weight: 300;
    display: block;
    &--main {
        font-size: 7rem;
        text-transform: uppercase;
        letter-spacing: .2rem;
        font-weight: 500;
        display: block;
    }
    &--sub {
        font-family: "Satisfy", serif;
        font-size: 2.6rem;
        display: block;
    }
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right, $primary-light, $secondary-light);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: all 1s ease;
    &:hover {
        transform: skewX(2deg) scale(1.05);
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
        // transform: skewY(2deg);
    }
}

.heading-tertiary {
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: $default-font-size;
    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}

.heading-secondary-extend {
    background-image: linear-gradient(to right, $tertiary-light, $brown);
}