.composition {
    position: relative;
    margin: 5rem;
    &__img {
        width: 45%;
        box-shadow: 0 1.5rem 4rem rgba($black, .4);
        border-radius: 4px;
        position: absolute;
        z-index: 10;
        transition: all 0.5s;
        &--1 {
            left: -2rem;
            top: -2rem;
        }
        &--2 {
            left: 6rem;
            top: 6rem;
        }
        &--3 {
            left: 14rem;
            top: 14rem;
        }
        &:hover {
            transform: scale(1.4) translateY(-.5rem);
            box-shadow: 0 1.5rem 5rem rgba(0, 0, 0, .6);
            z-index: 20;
        }
        &:hover &:__img:not(:hover) {
            transform: scale(0.7);
        }
    }
}