.about-section {
    background-color: $grey-light-1;
    // background-color: black;
    padding: 7rem 0;
}

.amenities-section {
    background-color: white;
    padding: 7rem 0;
}

.testimonials-section {
    padding: 15rem 0rem;
    position: relative;
}

.membership-section {
    margin-top: 5rem;
    padding: 15rem 0rem;
    background-color: $grey-light-1;
}